$red:#ef5d5d;
$yellow:#e6e66e;
$main-font-size:25px;
$small-font-size:20px;
$app-color:#454545;
$border-color-marked: #454545;
$cell-Size:45px;
@font-face {
	font-family: MavenPro;
	src: url("../assets/font/Maven_Pro/MavenPro-Regular.ttf") format("opentype");
}

.app {
	background-color: $app-color;
}

p {
	margin: 0
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-align-center {
	display: flex;
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.board-main-container {
	display: grid;
	grid-template-rows: repeat(3,auto) 1fr auto;
	grid-gap: 15px;
	padding: 10px;
	font-size: $main-font-size;
	color: #ededed;
	width: fit-content;
	min-width: 500px;
	margin: 0 auto;
	font-family: 'MavenPro', sans-serif;
	.player-header {
		font-size: 20px;
		.red {
			color: $red;
		}
		.yellow {
			color: $yellow
		}
	}
	i {
		margin: 0 5px 0 0;
	}
	.footer-board {
		height: 30px;
		width: 100%;
		background: #2a4a52;
	}
	.footer-game {
		align-items: center;
		.submit {
			cursor: pointer;
			border: transparent;
			border-radius: 4px;
			font-size: inherit;
			outline: none;
			padding: .3em 1em;
			transition: all 0.3s;
			font-family: inherit;
			text-shadow: 0 0 1px black;
			background-color: #dedede;
			color: $app-color;
		}
		.submit:hover {
			color: #12558d;
			transition: all 0.3s;
		}
	}
	.board-col {
		display: inline-block;
		background: white;
		margin: 5px;
		border-radius: 50%;
		border: 2px solid transparent;
		width: $cell-Size;
		height: $cell-Size;
		box-shadow: 0px 0px 6px black;
		text-align: center;
		transition: all 0.3s;
		cursor: pointer;
	}
	.board-col-selected-r {
		background: $red;
		background-image: url("../assets/img/redCircle.png");
		background-position: center;
		background-size: contain;
	}
	.board-col-selected-y {
		background: $yellow;
		background-image: url("../assets/img/yellowCircle.png");
		background-position: center;
		background-size: contain;
	}
	.board-container {
		background-color: #08a;
		border-radius: 12px 12px 0 0;
		align-items: center;
		padding: 10px;
	}
	.r {
		color: $red !important;
	}
	.y {
		color: $yellow !important;
	}
	.player-header-Game {
		font-size: 1.5em;
	}
	.header-img {
		text-align: center;
		img {
			filter: grayscale(100%);
			height: auto;
			width: 65%;
		}
	}
	.fourInRow {
		animation: hasWinner 3s linear 2;
	}
	.hasWinner {
		animation: blinker 1s linear 2;
	}
}

// annimtaion
@keyframes hasWinner {
	0% {
		border: 2px solid $border-color-marked
	}
	25% {
		border: 2px solid transparent;
	}
	50% {
		border: 2px solid $border-color-marked;
	}
	75% {
		border: 2px solid transparent;
	}
	100% {
		border: 2px solid $border-color-marked;
	}
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

// media queri
@media (max-width: 992px) {
	.board-main-container {
		min-width: 0;
		font-size: $small-font-size;
		.player-header-Game {
			font-size: 1em;
		}
		.board-col {
			width: 25px;
			height: 25px;
		}
	}
}